/* TODO: Make this adaptive compatible */
.navbar li:hover {
    margin-bottom: -3px;
    border-bottom: 3px solid #2D5072;
}

.carousel-caption {
    top: 0px;
    left: 50px;
    text-align: left;
}